.bg {
    color: white;
    font-family: Poppins;
    background-image: url('./welcome-pg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg h5 {
    color: #f56920;
    margin: -3% 0 30px 0;
}


