.main_div {
    margin-top: 3%;
    text-align: center;
    background-color: black;
}

.Sign-In h1{
    width: 216px;
    height: 66px;
    margin: 0 149px 86px 0;
    font-family: Poppins;
    font-size: 64px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.02;
    letter-spacing: normal;
    text-align: left;
    color: white;
}

.Rectangle {
    width: 365px;
    height: 562px;
    margin: 86px 0 0;
    padding: 37px 22px 101px 23px;
    border-radius: 18px;
    background-color:white;
}

.Rectangle h1 {
    width: 269px;
    height: 84px;
    margin: 0 51px 55px 0;
    font-family: Poppins;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
}

.form{
    width: 320px;
    height: 53px;
    padding: 15px 195px 15px 14px;
    border-radius: 200px;
    border: solid 10px #f56920;
    background-color: white;
}

.signin-btn {
    width: 200px;
    height: 49px;
    margin: 67px 60px 24px;
    padding: 13px 66px;
    border-radius: 18px;
    color: white;
    background-color: #f56920;
}
