.bg{
font-family: Poppins;
width: 201px;
height: 55px;
margin: 27px 147px 27px 13px;
font-size: 47.6px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: var(--white);
}