.tags-button {
    float: right;
    border-radius: 20px;
    color: #f56920;
    background: #fafafa;
}

.tags-button:hover {
    color: #fafafa;
    background-color: #f56920;
}
.tags-button:active {
    color: #fafafa;
    background-color: #f56920;
}
.tags-button:focus {
    color: #fafafa;
    background-color: #f56920;
}

.users-button {
    float: right;
    border-radius: 20px;
    color: #f56920;
    background: #fafafa;
    margin-right: 10px;
}

.users-button:hover {
    color: #fafafa;
    background-color: #f56920;
}
.users-button:active {
    color: #fafafa;
    background-color: #f56920;
}
.users-button:focus {
    color: #fafafa;
    background-color: #f56920;
}
