body {
    // background-image: 'welcome screen/welcome-pg.png';
    width: auto;
    height: auto;
}

hr {
    color: '#FAFAFA';
    // backgroundColor : '#FAFAFA';
    height: 0.5;
    width: 1200;
}
.welcomepg {
    color: white;
    font-family: montserrat;
}

.welcomepg span {
    color: rgb(255, 81, 0);
}

.title {
    font-size: 50px;
}

.caption {
    font-size: xx-large;
    margin-top: 10%;
}

.sign-btn {
    background-color: rgb(255, 81, 0);
    color: white;
    width: 195px;
    height: 45px;
    border-radius: 18px;
    margin-top: 1%;
    margin-left: 3%;
    font-family: sans-serif;
    font-size: 17px;
    border: none;
    font-weight: bolder;
}

.sign-btn1 {
    background-color: black;
    border-color: rgb(255, 81, 0);
    color: white;
    width: 195px;
    height: 45px;
    border-radius: 18px;
    margin-top: 1%;
    margin-left: 3%;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: bolder;
}

.g-btn {
    background-color: black;
    border-color: rgb(255, 81, 0);
    color: white;
    width: 195px;
    height: 45px;
    border-radius: 18px;
    margin-top: 0%;
    margin-left: 3%;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: bolder;
}

.g-btn img {
    float: left;
    margin-left: 40px;
    width: 30px;
}
.text {
    margin-top: 5%;
    margin-right: 7%;
}

.or {
    margin-left: 30px;
}
